@model int 

<!-- This is a razor view file, cshtml, with no model behind it unless you add one in -->

<div class="card bg-light">
    <div class="card-body">
        There are @Model  restaurants here. <a asp-page="/Restaurants/List">See all.</a>
    </div>
</div>